{
  "openapi": "3.0.3",
  "info": {
    "title": "Tari Public Data API",
    "version": "1.0.0",
    "description": "Programmatic access to Tari WMS data — items, vendors, bundles, purchase orders, cargo loads, marketing campaigns, product reviews, SKU stock coverage, and ocean cargo tracking. Read is the bulk of the surface; a growing set of scoped WRITE operations covers inventory documents (receipts / issues / adjustments / transfers), master data (items / vendors, including create / update / delete), purchasing (purchase order create / update), and logistics (cargo load create / update / depart). FK / code lookup endpoints (facilities, payment terms, categories) resolve the ids and codes the write bodies take.\n\n## Authentication\n\nEvery request requires a per-app bearer token, sent in the `Authorization` header:\n\n`Authorization: Bearer <token>`\n\nGenerate and manage tokens in the Tari console under **System → API tokens** (`/console/settings/api-tokens`). The key is shown **only once** at creation — store it securely. If a key is lost or leaked, revoke it and issue a new one. Tokens do not expire; revoking is the only way to retire one. A missing, invalid, or revoked token returns `401`.\n\nA second auth axis — warehouse **worker sessions** (Supabase Auth JWT, so a write attributes to the acting worker) — is designed but not yet live; operations that will accept it are annotated with an **Auth axis** note.\n\n## Pagination\n\nResults use keyset pagination. Each response includes a `next_cursor`; pass it back as the `cursor` query parameter to fetch the next page. A `null` `next_cursor` means you have reached the last page. Set page size with `limit` (default 100, max 500).\n\n## Rate limits\n\nEach token is limited to 5 requests per second (burst) and 100 requests per minute.\n\n## Excluded fields\n\nMost datasets minimize sensitive fields, but this is dataset-specific rather than blanket: items expose cost/price (internal consumers), and the vendors dataset intentionally exposes contact + address PII (WOO-541 — the token is an internal-org credential). Provenance / external-link fields (external_id, drive_folder_id) and image assets stay out of the write surface regardless.\n\n## Inventory writes\n\nInventory is changed through **documents**, never a direct set-quantity call. Post a receipt (stock in), an issue (stock out), an adjustment (count correction), or a transfer (facility-to-facility move) and the system records the ledger. There is no endpoint to overwrite a quantity.\n\nWrites require the `write:inventory` scope (currently granted to every token — internal consumers only; expect per-token gating before any external exposure). Every write also requires an `Idempotency-Key` header: retrying with the same key never double-writes the ledger, and the replay returns `200 { \"noop\": true }`. A completed receipt/issue writes stock immediately; a draft records the document without touching inventory.\n\n## Master data writes\n\nItems (`POST /items`, `PATCH /items/{id}`, `DELETE /items/{id}`) and vendors (`POST /vendors`, `PATCH /vendors/{id}`, `DELETE /vendors/{id}`) can be created, updated, and soft-deleted. Writes require the `write:masters` scope and an `Idempotency-Key` header (same replay semantics as inventory writes). WOO-541 widened the request bodies: vendors now accept contact / street address / compliance identifiers / note, and items accept trade/customs, shelf life, purchase cost, sales/MD, and packaging fields. Still console-only: `lot_tracking` / `lot_profile` (the INV-007 oversell gate), images, ingredients, and `external_id`. An item’s `sku` is immutable after creation (a sku on PATCH returns 400); barcodes are a declarative full-replace set. DELETE takes no body and is idempotent in effect (a replay hits the already-deleted row → 404). Resolve `category_id` via `GET /categories`.\n\n## Purchasing writes\n\nPurchase orders can be created (`POST /purchase-orders`) and updated (`PATCH /purchase-orders/{id}`) under the `write:purchasing` scope (+ `Idempotency-Key`). A PO is a document — no inventory, charges, or inbound shipment (receiving is a separate flow). Designate the supplier by `supplier_id` and/or `supplier_code`. Edit gating mirrors the console: a draft or an ordered PO whose inbound has not shipped takes full edits; once the inbound is in_transit / partially_received, lines are quantity-only and may only shrink (≥ received); a line on a cargo load can never be deleted. Allowed status transitions: draft→ordered, draft→cancelled, ordered→draft (a revert is blocked when a line is on a cargo load). Resolve `payment_term_code` via `GET /payment-terms` and `destination_facility_id` via `GET /facilities`.\n\n## Logistics writes\n\nCargo loads (inbound container manifests) can be created (`POST /cargo-loads`), updated (`PATCH /cargo-loads/{id}`), and departed (`POST /cargo-loads/{id}/depart`) — all under the `write:purchasing` scope (+ `Idempotency-Key`). Create / update are document-only (no inventory / receiving); lines reference PO lines by `po_line_id` (see `GET /cargo-loads/available-po-line-items`). **depart** is the one status transition exposed: it approves-then-departs a draft (or departs an approved load), creating the linked inbound shipment and pulling the POs into transit. Everything downstream — arrive and receive — stays in the warehouse flows and is deliberately NOT exposed here."
  },
  "servers": [
    {
      "url": "https://tari.wooltariusa.com/api/public",
      "description": "Tari public API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Master data",
      "description": "Items, vendors, and bundles — the stable master data exports."
    },
    {
      "name": "Purchasing",
      "description": "Purchase orders — header spend rollups, line-level purchase prices, and document create/update (draft-only edits, restricted status transitions)."
    },
    {
      "name": "Logistics",
      "description": "Cargo loads — inbound container shipments: manifest, schedule (ETD/ETA), and freight/duty charges."
    },
    {
      "name": "Marketing",
      "description": "Campaigns and product reviews."
    },
    {
      "name": "Cargo tracking",
      "description": "Ocean shipment tracking (ShipsGo-backed)."
    },
    {
      "name": "Inventory",
      "description": "WMS-native inventory — item-grain rollups, per-facility/location/lot detail, and document-based writes (receipts, issues, adjustments, transfers). Authoritative (wms_inventory_levels), unlike the legacy stock-coverage endpoint."
    },
    {
      "name": "Reference",
      "description": "FK / code lookups (facilities, payment terms, categories) for the write bodies."
    },
    {
      "name": "Analytics",
      "description": "Cost / analysis datasets — carrier invoices (FedEx, Veho) as pinned search columns + full raw rows. Per-carrier on purpose: zone/weight/charge semantics are not comparable across carriers."
    },
    {
      "name": "Legacy",
      "description": "Endpoints backed by legacy data sources, published deliberately under a `legacy` name. They work and are safe to build on, but each will be superseded by a WMS-native replacement — expect a migration notice here when that happens."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Per-app bearer token minted in the Tari console (System → API tokens). Scopes are listed per operation."
      }
    },
    "schemas": {
      "Item": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "barcode": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "name_en": {
            "type": "string",
            "nullable": true
          },
          "brand": {
            "type": "string",
            "nullable": true
          },
          "brand_en": {
            "type": "string",
            "nullable": true
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "display_name_en": {
            "type": "string",
            "nullable": true
          },
          "price_tag_name": {
            "type": "string",
            "nullable": true
          },
          "price_tag_name_en": {
            "type": "string",
            "nullable": true
          },
          "price_tag_label": {
            "type": "string",
            "nullable": true
          },
          "external_id": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "kind": {
            "type": "string",
            "nullable": true
          },
          "sales_channel_status": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            }
          },
          "sku_locked": {
            "type": "boolean",
            "nullable": true
          },
          "lot_tracking": {
            "type": "boolean",
            "nullable": true
          },
          "lot_profile": {
            "type": "string",
            "nullable": true
          },
          "base_unit": {
            "type": "string",
            "nullable": true
          },
          "units_per_case": {
            "type": "integer",
            "nullable": true
          },
          "cases_per_pallet": {
            "type": "integer",
            "nullable": true
          },
          "pieces_per_pack": {
            "type": "integer",
            "nullable": true
          },
          "content_amount": {
            "type": "number",
            "nullable": true
          },
          "content_unit": {
            "type": "string",
            "nullable": true
          },
          "content_breakdown": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            }
          },
          "weight_lb": {
            "type": "number",
            "nullable": true
          },
          "unit_gross_weight_g": {
            "type": "number",
            "nullable": true
          },
          "case_volume_m3": {
            "type": "number",
            "nullable": true
          },
          "case_width_mm": {
            "type": "integer",
            "nullable": true
          },
          "case_height_mm": {
            "type": "integer",
            "nullable": true
          },
          "case_length_mm": {
            "type": "integer",
            "nullable": true
          },
          "unit_width_mm": {
            "type": "integer",
            "nullable": true
          },
          "unit_height_mm": {
            "type": "integer",
            "nullable": true
          },
          "unit_length_mm": {
            "type": "integer",
            "nullable": true
          },
          "storage_condition": {
            "type": "string",
            "nullable": true
          },
          "shelf_life_days": {
            "type": "integer",
            "nullable": true
          },
          "shelf_life_basis": {
            "type": "string",
            "nullable": true
          },
          "supply_origin": {
            "type": "string",
            "nullable": true
          },
          "origin_country": {
            "type": "string",
            "nullable": true
          },
          "origin_locality": {
            "type": "string",
            "nullable": true
          },
          "origin_subdivision": {
            "type": "string",
            "nullable": true
          },
          "harmonized_system_code": {
            "type": "string",
            "nullable": true
          },
          "ingredients": {
            "type": "string",
            "nullable": true
          },
          "allergens": {
            "type": "string",
            "nullable": true
          },
          "label_caution": {
            "type": "string",
            "nullable": true
          },
          "back_label_source": {
            "type": "string",
            "nullable": true
          },
          "category_id": {
            "type": "integer",
            "nullable": true
          },
          "sales_grade": {
            "type": "string",
            "nullable": true
          },
          "md_grade": {
            "type": "string",
            "nullable": true
          },
          "supplier_id": {
            "type": "integer",
            "nullable": true
          },
          "manufacturer_id": {
            "type": "integer",
            "nullable": true
          },
          "vendor_name": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "thumbnail_url": {
            "type": "string",
            "nullable": true
          },
          "image_front_path": {
            "type": "string",
            "nullable": true
          },
          "image_back_path": {
            "type": "string",
            "nullable": true
          },
          "image_nutrition_facts_path": {
            "type": "string",
            "nullable": true
          },
          "drive_folder_id": {
            "type": "string",
            "nullable": true
          },
          "first_shipment_date": {
            "type": "string",
            "nullable": true
          },
          "new_arrival_until": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "supplier_name": {
            "type": "string",
            "nullable": true
          },
          "manufacturer_name": {
            "type": "string",
            "nullable": true
          },
          "category_name": {
            "type": "string",
            "nullable": true
          },
          "supply_issue_code": {
            "type": "string",
            "nullable": true
          },
          "supply_note": {
            "type": "string",
            "nullable": true
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "landed_cost": {
            "type": "number",
            "nullable": true
          },
          "online_price": {
            "type": "number",
            "nullable": true
          },
          "offline_price": {
            "type": "number",
            "nullable": true
          },
          "purchase_price_krw": {
            "type": "number",
            "nullable": true
          },
          "purchase_price_usd": {
            "type": "number",
            "nullable": true
          },
          "customs_duty_rate": {
            "type": "number",
            "nullable": true
          },
          "legacy_pickface_west": {
            "type": "string",
            "nullable": true
          },
          "legacy_pickface_east": {
            "type": "string",
            "nullable": true
          },
          "boxhero_expiry_west_1": {
            "type": "string",
            "nullable": true
          },
          "boxhero_expiry_west_2": {
            "type": "string",
            "nullable": true
          },
          "boxhero_expiry_east_1": {
            "type": "string",
            "nullable": true
          },
          "boxhero_expiry_east_2": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "sku",
          "barcode",
          "name",
          "name_en",
          "brand",
          "brand_en",
          "display_name",
          "display_name_en",
          "price_tag_name",
          "price_tag_name_en",
          "price_tag_label",
          "external_id",
          "source",
          "type",
          "role",
          "status",
          "kind",
          "sales_channel_status",
          "sku_locked",
          "lot_tracking",
          "lot_profile",
          "base_unit",
          "units_per_case",
          "cases_per_pallet",
          "pieces_per_pack",
          "content_amount",
          "content_unit",
          "content_breakdown",
          "weight_lb",
          "unit_gross_weight_g",
          "case_volume_m3",
          "case_width_mm",
          "case_height_mm",
          "case_length_mm",
          "unit_width_mm",
          "unit_height_mm",
          "unit_length_mm",
          "storage_condition",
          "shelf_life_days",
          "shelf_life_basis",
          "supply_origin",
          "origin_country",
          "origin_locality",
          "origin_subdivision",
          "harmonized_system_code",
          "ingredients",
          "allergens",
          "label_caution",
          "back_label_source",
          "category_id",
          "sales_grade",
          "md_grade",
          "supplier_id",
          "manufacturer_id",
          "vendor_name",
          "tags",
          "thumbnail_url",
          "image_front_path",
          "image_back_path",
          "image_nutrition_facts_path",
          "drive_folder_id",
          "first_shipment_date",
          "new_arrival_until",
          "created_at",
          "updated_at",
          "supplier_name",
          "manufacturer_name",
          "category_name",
          "supply_issue_code",
          "supply_note",
          "note",
          "landed_cost",
          "online_price",
          "offline_price",
          "purchase_price_krw",
          "purchase_price_usd",
          "customs_duty_rate",
          "legacy_pickface_west",
          "legacy_pickface_east",
          "boxhero_expiry_west_1",
          "boxhero_expiry_west_2",
          "boxhero_expiry_east_1",
          "boxhero_expiry_east_2"
        ]
      },
      "ItemWriteData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "name_en": {
            "type": "string",
            "nullable": true
          },
          "brand": {
            "type": "string",
            "nullable": true
          },
          "brand_en": {
            "type": "string",
            "nullable": true
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "display_name_en": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "supply_origin": {
            "type": "string",
            "nullable": true
          },
          "storage_condition": {
            "type": "string",
            "nullable": true
          },
          "origin_country": {
            "type": "string",
            "nullable": true
          },
          "category_id": {
            "type": "integer",
            "nullable": true
          },
          "supplier_id": {
            "type": "integer",
            "nullable": true
          },
          "manufacturer_id": {
            "type": "integer",
            "nullable": true
          },
          "units_per_case": {
            "type": "integer",
            "nullable": true
          },
          "cases_per_pallet": {
            "type": "integer",
            "nullable": true
          },
          "unit_gross_weight_g": {
            "type": "number",
            "nullable": true
          },
          "content_amount": {
            "type": "number",
            "nullable": true
          },
          "content_unit": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "barcodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "barcode": {
                  "type": "string",
                  "nullable": true
                },
                "barcode_type": {
                  "type": "string",
                  "nullable": true
                },
                "uom": {
                  "type": "string",
                  "nullable": true
                },
                "is_primary": {
                  "type": "boolean",
                  "nullable": true
                },
                "valid_from": {
                  "type": "string",
                  "nullable": true
                },
                "valid_to": {
                  "type": "string",
                  "nullable": true
                },
                "note": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "id",
                "barcode",
                "barcode_type",
                "uom",
                "is_primary",
                "valid_from",
                "valid_to",
                "note"
              ]
            }
          }
        },
        "required": [
          "id",
          "sku",
          "name",
          "name_en",
          "brand",
          "brand_en",
          "display_name",
          "display_name_en",
          "status",
          "type",
          "supply_origin",
          "storage_condition",
          "origin_country",
          "category_id",
          "supplier_id",
          "manufacturer_id",
          "units_per_case",
          "cases_per_pallet",
          "unit_gross_weight_g",
          "content_amount",
          "content_unit",
          "tags",
          "created_at",
          "updated_at",
          "barcodes"
        ]
      },
      "ItemWriteResult": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ItemWriteData"
          }
        },
        "required": [
          "data"
        ]
      },
      "ItemCreateRequest": {
        "type": "object",
        "properties": {
          "name_en": {
            "type": "string",
            "nullable": true
          },
          "brand": {
            "type": "string",
            "nullable": true
          },
          "brand_en": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "product",
              "service",
              "supply"
            ]
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "draft",
              "active",
              "discontinued"
            ]
          },
          "storage_condition": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ambient",
              "refrigerated",
              "frozen"
            ]
          },
          "supply_origin": {
            "type": "string",
            "nullable": true,
            "enum": [
              "import",
              "local",
              "dropship"
            ]
          },
          "origin_country": {
            "type": "string",
            "nullable": true
          },
          "category_id": {
            "type": "integer",
            "nullable": true
          },
          "content_amount": {
            "type": "number",
            "nullable": true
          },
          "content_unit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "g",
              "kg",
              "ml",
              "l",
              "oz",
              "lb",
              "fl_oz",
              "gal",
              "ea",
              "sheet",
              "capsule",
              "sachet"
            ]
          },
          "units_per_case": {
            "type": "number",
            "nullable": true
          },
          "cases_per_pallet": {
            "type": "number",
            "nullable": true
          },
          "unit_gross_weight_g": {
            "type": "number",
            "nullable": true
          },
          "unit_width_mm": {
            "type": "number",
            "nullable": true
          },
          "unit_height_mm": {
            "type": "number",
            "nullable": true
          },
          "unit_length_mm": {
            "type": "number",
            "nullable": true
          },
          "case_width_mm": {
            "type": "number",
            "nullable": true
          },
          "case_height_mm": {
            "type": "number",
            "nullable": true
          },
          "case_length_mm": {
            "type": "number",
            "nullable": true
          },
          "case_volume_m3": {
            "type": "number",
            "nullable": true
          },
          "supplier_id": {
            "type": "integer",
            "nullable": true
          },
          "manufacturer_id": {
            "type": "integer",
            "nullable": true
          },
          "customs_duty_rate": {
            "type": "number",
            "nullable": true
          },
          "harmonized_system_code": {
            "type": "string",
            "nullable": true
          },
          "origin_subdivision": {
            "type": "string",
            "nullable": true
          },
          "origin_locality": {
            "type": "string",
            "nullable": true
          },
          "shelf_life_days": {
            "type": "integer",
            "nullable": true
          },
          "shelf_life_basis": {
            "type": "string",
            "nullable": true,
            "enum": [
              "manufacture_date",
              "milling_date",
              "packaging_date"
            ]
          },
          "purchase_price_krw": {
            "type": "number",
            "nullable": true
          },
          "purchase_price_usd": {
            "type": "number",
            "nullable": true
          },
          "landed_cost": {
            "type": "number",
            "nullable": true
          },
          "online_price": {
            "type": "number",
            "nullable": true
          },
          "offline_price": {
            "type": "number",
            "nullable": true
          },
          "md_grade": {
            "type": "string",
            "nullable": true,
            "enum": [
              "S",
              "N",
              "D",
              "A",
              "B",
              "C"
            ]
          },
          "sales_grade": {
            "type": "string",
            "nullable": true,
            "enum": [
              "S",
              "N",
              "D",
              "A",
              "B",
              "C"
            ]
          },
          "sales_channel_status_online": {
            "type": "string",
            "nullable": true,
            "enum": [
              "active",
              "eol",
              "inactive"
            ]
          },
          "sales_channel_status_b2b": {
            "type": "string",
            "nullable": true,
            "enum": [
              "active",
              "eol",
              "inactive"
            ]
          },
          "sales_channel_status_offline": {
            "type": "string",
            "nullable": true,
            "enum": [
              "active",
              "eol",
              "inactive"
            ]
          },
          "price_tag_name": {
            "type": "string",
            "nullable": true
          },
          "price_tag_name_en": {
            "type": "string",
            "nullable": true
          },
          "pieces_per_pack": {
            "type": "integer",
            "nullable": true
          },
          "content_breakdown": {
            "nullable": true
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "barcodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "barcode": {
                  "type": "string",
                  "minLength": 1
                },
                "barcode_type": {
                  "type": "string"
                },
                "uom": {
                  "type": "string"
                },
                "is_primary": {
                  "type": "boolean"
                },
                "valid_from": {
                  "type": "string",
                  "nullable": true
                },
                "valid_to": {
                  "type": "string",
                  "nullable": true
                },
                "note": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "barcode"
              ]
            }
          },
          "sku": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "role": {
            "type": "string",
            "nullable": true
          },
          "kind": {
            "type": "string",
            "nullable": true,
            "enum": [
              "inventoried",
              "external",
              "service"
            ]
          }
        },
        "required": [
          "sku",
          "name"
        ]
      },
      "ItemPatchRequest": {
        "type": "object",
        "properties": {
          "name_en": {
            "type": "string",
            "nullable": true
          },
          "brand": {
            "type": "string",
            "nullable": true
          },
          "brand_en": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "product",
              "service",
              "supply"
            ]
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "draft",
              "active",
              "discontinued"
            ]
          },
          "storage_condition": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ambient",
              "refrigerated",
              "frozen"
            ]
          },
          "supply_origin": {
            "type": "string",
            "nullable": true,
            "enum": [
              "import",
              "local",
              "dropship"
            ]
          },
          "origin_country": {
            "type": "string",
            "nullable": true
          },
          "category_id": {
            "type": "integer",
            "nullable": true
          },
          "content_amount": {
            "type": "number",
            "nullable": true
          },
          "content_unit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "g",
              "kg",
              "ml",
              "l",
              "oz",
              "lb",
              "fl_oz",
              "gal",
              "ea",
              "sheet",
              "capsule",
              "sachet"
            ]
          },
          "units_per_case": {
            "type": "number",
            "nullable": true
          },
          "cases_per_pallet": {
            "type": "number",
            "nullable": true
          },
          "unit_gross_weight_g": {
            "type": "number",
            "nullable": true
          },
          "unit_width_mm": {
            "type": "number",
            "nullable": true
          },
          "unit_height_mm": {
            "type": "number",
            "nullable": true
          },
          "unit_length_mm": {
            "type": "number",
            "nullable": true
          },
          "case_width_mm": {
            "type": "number",
            "nullable": true
          },
          "case_height_mm": {
            "type": "number",
            "nullable": true
          },
          "case_length_mm": {
            "type": "number",
            "nullable": true
          },
          "case_volume_m3": {
            "type": "number",
            "nullable": true
          },
          "supplier_id": {
            "type": "integer",
            "nullable": true
          },
          "manufacturer_id": {
            "type": "integer",
            "nullable": true
          },
          "customs_duty_rate": {
            "type": "number",
            "nullable": true
          },
          "harmonized_system_code": {
            "type": "string",
            "nullable": true
          },
          "origin_subdivision": {
            "type": "string",
            "nullable": true
          },
          "origin_locality": {
            "type": "string",
            "nullable": true
          },
          "shelf_life_days": {
            "type": "integer",
            "nullable": true
          },
          "shelf_life_basis": {
            "type": "string",
            "nullable": true,
            "enum": [
              "manufacture_date",
              "milling_date",
              "packaging_date"
            ]
          },
          "purchase_price_krw": {
            "type": "number",
            "nullable": true
          },
          "purchase_price_usd": {
            "type": "number",
            "nullable": true
          },
          "landed_cost": {
            "type": "number",
            "nullable": true
          },
          "online_price": {
            "type": "number",
            "nullable": true
          },
          "offline_price": {
            "type": "number",
            "nullable": true
          },
          "md_grade": {
            "type": "string",
            "nullable": true,
            "enum": [
              "S",
              "N",
              "D",
              "A",
              "B",
              "C"
            ]
          },
          "sales_grade": {
            "type": "string",
            "nullable": true,
            "enum": [
              "S",
              "N",
              "D",
              "A",
              "B",
              "C"
            ]
          },
          "sales_channel_status_online": {
            "type": "string",
            "nullable": true,
            "enum": [
              "active",
              "eol",
              "inactive"
            ]
          },
          "sales_channel_status_b2b": {
            "type": "string",
            "nullable": true,
            "enum": [
              "active",
              "eol",
              "inactive"
            ]
          },
          "sales_channel_status_offline": {
            "type": "string",
            "nullable": true,
            "enum": [
              "active",
              "eol",
              "inactive"
            ]
          },
          "price_tag_name": {
            "type": "string",
            "nullable": true
          },
          "price_tag_name_en": {
            "type": "string",
            "nullable": true
          },
          "pieces_per_pack": {
            "type": "integer",
            "nullable": true
          },
          "content_breakdown": {
            "nullable": true
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "barcodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "barcode": {
                  "type": "string",
                  "minLength": 1
                },
                "barcode_type": {
                  "type": "string"
                },
                "uom": {
                  "type": "string"
                },
                "is_primary": {
                  "type": "boolean"
                },
                "valid_from": {
                  "type": "string",
                  "nullable": true
                },
                "valid_to": {
                  "type": "string",
                  "nullable": true
                },
                "note": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "barcode"
              ]
            }
          },
          "name": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "Vendor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "name_en": {
            "type": "string",
            "nullable": true
          },
          "name_ko": {
            "type": "string",
            "nullable": true
          },
          "country_code": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "default_payment_term_code": {
            "type": "string",
            "nullable": true
          },
          "default_lead_time_days": {
            "type": "integer",
            "nullable": true
          },
          "address_city": {
            "type": "string",
            "nullable": true
          },
          "address_state": {
            "type": "string",
            "nullable": true
          },
          "customs_address_city": {
            "type": "string",
            "nullable": true
          },
          "customs_address_state": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "external_id": {
            "type": "string",
            "nullable": true
          },
          "drive_folder_id": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "contact_name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address_line1": {
            "type": "string",
            "nullable": true
          },
          "address_line2": {
            "type": "string",
            "nullable": true
          },
          "address_zip_code": {
            "type": "string",
            "nullable": true
          },
          "customs_address_line1": {
            "type": "string",
            "nullable": true
          },
          "customs_address_line2": {
            "type": "string",
            "nullable": true
          },
          "customs_address_zip_code": {
            "type": "string",
            "nullable": true
          },
          "additional_contacts": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "nullable": true,
              "additionalProperties": {
                "nullable": true
              }
            }
          },
          "compliance_identifiers": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            }
          },
          "note": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "code",
          "name",
          "name_en",
          "name_ko",
          "country_code",
          "currency",
          "default_payment_term_code",
          "default_lead_time_days",
          "address_city",
          "address_state",
          "customs_address_city",
          "customs_address_state",
          "tags",
          "source",
          "external_id",
          "drive_folder_id",
          "created_at",
          "contact_name",
          "email",
          "phone",
          "address_line1",
          "address_line2",
          "address_zip_code",
          "customs_address_line1",
          "customs_address_line2",
          "customs_address_zip_code",
          "additional_contacts",
          "compliance_identifiers",
          "note"
        ]
      },
      "VendorWriteResult": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Vendor"
          }
        },
        "required": [
          "data"
        ]
      },
      "VendorCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "name_en": {
            "type": "string",
            "nullable": true
          },
          "name_ko": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "country_code": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "default_payment_term_code": {
            "type": "string",
            "nullable": true
          },
          "default_lead_time_days": {
            "type": "integer",
            "nullable": true
          },
          "contact_name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "additional_contacts": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "email": {
                  "type": "string",
                  "nullable": true
                },
                "phone": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "address_line1": {
            "type": "string",
            "nullable": true
          },
          "address_line2": {
            "type": "string",
            "nullable": true
          },
          "address_zip_code": {
            "type": "string",
            "nullable": true
          },
          "address_city": {
            "type": "string",
            "nullable": true
          },
          "address_state": {
            "type": "string",
            "nullable": true
          },
          "customs_address_line1": {
            "type": "string",
            "nullable": true
          },
          "customs_address_line2": {
            "type": "string",
            "nullable": true
          },
          "customs_address_zip_code": {
            "type": "string",
            "nullable": true
          },
          "customs_address_city": {
            "type": "string",
            "nullable": true
          },
          "customs_address_state": {
            "type": "string",
            "nullable": true
          },
          "compliance_identifiers": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "enum": [
                "internal",
                "warehouse_zone",
                "rack_code",
                "channel",
                "adjustment",
                "event",
                "misc",
                "client"
              ]
            }
          },
          "source": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name"
        ]
      },
      "VendorPatchRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "name_en": {
            "type": "string",
            "nullable": true
          },
          "name_ko": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "country_code": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "default_payment_term_code": {
            "type": "string",
            "nullable": true
          },
          "default_lead_time_days": {
            "type": "integer",
            "nullable": true
          },
          "contact_name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "additional_contacts": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "email": {
                  "type": "string",
                  "nullable": true
                },
                "phone": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "address_line1": {
            "type": "string",
            "nullable": true
          },
          "address_line2": {
            "type": "string",
            "nullable": true
          },
          "address_zip_code": {
            "type": "string",
            "nullable": true
          },
          "address_city": {
            "type": "string",
            "nullable": true
          },
          "address_state": {
            "type": "string",
            "nullable": true
          },
          "customs_address_line1": {
            "type": "string",
            "nullable": true
          },
          "customs_address_line2": {
            "type": "string",
            "nullable": true
          },
          "customs_address_zip_code": {
            "type": "string",
            "nullable": true
          },
          "customs_address_city": {
            "type": "string",
            "nullable": true
          },
          "customs_address_state": {
            "type": "string",
            "nullable": true
          },
          "compliance_identifiers": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "enum": [
                "internal",
                "warehouse_zone",
                "rack_code",
                "channel",
                "adjustment",
                "event",
                "misc",
                "client"
              ]
            }
          },
          "source": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Bundle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "components": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sku": {
                  "type": "string",
                  "nullable": true
                },
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "quantity": {
                  "type": "integer",
                  "nullable": true
                }
              },
              "required": [
                "sku",
                "name",
                "quantity"
              ]
            }
          },
          "component_count": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "sku",
          "name",
          "created_at",
          "updated_at",
          "components",
          "component_count"
        ]
      },
      "Facility": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Facility id — pass as destination_facility_id on a PO / cargo load."
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Facility role, e.g. warehouse, store."
          },
          "country_code": {
            "type": "string",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "nullable": true
          },
          "outbound_enabled": {
            "type": "boolean",
            "nullable": true
          },
          "supported_modes": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "code",
          "name",
          "type",
          "country_code",
          "timezone",
          "outbound_enabled",
          "supported_modes",
          "created_at"
        ]
      },
      "PaymentTerm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Payment term code — pass as payment_term_code on a PO."
          },
          "name_ko": {
            "type": "string",
            "nullable": true
          },
          "name_en": {
            "type": "string",
            "nullable": true
          },
          "anchor": {
            "type": "string",
            "nullable": true,
            "description": "Reference event the term counts from."
          },
          "rule": {
            "type": "string",
            "nullable": true
          },
          "days_offset": {
            "type": "integer",
            "nullable": true
          },
          "month_offset": {
            "type": "integer",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "code",
          "name_ko",
          "name_en",
          "anchor",
          "rule",
          "days_offset",
          "month_offset",
          "description"
        ]
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Category id — pass as category_id on an item."
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "level": {
            "type": "integer",
            "nullable": true,
            "description": "Depth in the category tree (top level first)."
          },
          "parent_id": {
            "type": "integer",
            "nullable": true,
            "description": "Parent category id; null at the top level."
          },
          "shopify_product_type": {
            "type": "string",
            "nullable": true
          },
          "display_order": {
            "type": "integer",
            "nullable": true
          },
          "is_active": {
            "type": "boolean",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "level",
          "parent_id",
          "shopify_product_type",
          "display_order",
          "is_active",
          "created_at",
          "updated_at"
        ]
      },
      "LegacyStock": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "name_en": {
            "type": "string",
            "nullable": true
          },
          "brand": {
            "type": "string",
            "nullable": true
          },
          "barcode": {
            "type": "string",
            "nullable": true
          },
          "storage_condition": {
            "type": "string",
            "nullable": true
          },
          "supply_origin": {
            "type": "string",
            "nullable": true
          },
          "units_per_case": {
            "type": "integer",
            "nullable": true
          },
          "sales_status_online": {
            "type": "string",
            "nullable": true
          },
          "md_grade": {
            "type": "string",
            "nullable": true
          },
          "sales_rank": {
            "type": "integer",
            "description": "Rank by 30-day online sold (1 = best seller)."
          },
          "parent_bundle_sku": {
            "type": "string",
            "nullable": true,
            "description": "Comma-separated bundle SKUs this item is a component of."
          },
          "bundle_quantity": {
            "type": "integer",
            "nullable": true
          },
          "online_sold_5d": {
            "type": "integer",
            "nullable": true
          },
          "online_sold_7d": {
            "type": "integer",
            "nullable": true
          },
          "online_sold_30d": {
            "type": "integer",
            "nullable": true
          },
          "online_sold_east_5d": {
            "type": "integer",
            "nullable": true
          },
          "online_sold_east_30d": {
            "type": "integer",
            "nullable": true
          },
          "online_active_days_30d": {
            "type": "integer",
            "nullable": true,
            "description": "Distinct days with at least one online sale in the last 30 days."
          },
          "online_bundle_sold_5d": {
            "type": "integer",
            "nullable": true,
            "description": "Subset of online_sold_5d that came through bundles — do NOT add to online_sold_5d."
          },
          "online_bundle_sold_7d": {
            "type": "integer",
            "nullable": true
          },
          "online_bundle_sold_30d": {
            "type": "integer",
            "nullable": true
          },
          "retail_sold_5d": {
            "type": "integer",
            "nullable": true
          },
          "retail_sold_7d": {
            "type": "integer",
            "nullable": true
          },
          "retail_sold_30d": {
            "type": "integer",
            "nullable": true
          },
          "b2b_sold_5d": {
            "type": "integer",
            "nullable": true
          },
          "b2b_sold_7d": {
            "type": "integer",
            "nullable": true
          },
          "b2b_sold_30d": {
            "type": "integer",
            "nullable": true
          },
          "stock_hq_west_online": {
            "type": "integer",
            "nullable": true
          },
          "stock_hq_west_b2b": {
            "type": "integer",
            "nullable": true
          },
          "stock_lc_west_online": {
            "type": "integer",
            "nullable": true
          },
          "stock_lc_west_b2b": {
            "type": "integer",
            "nullable": true
          },
          "stock_kpac_west_online": {
            "type": "integer",
            "nullable": true
          },
          "stock_kpac_west_b2b": {
            "type": "integer",
            "nullable": true
          },
          "stock_kpac_transit_online": {
            "type": "integer",
            "nullable": true
          },
          "stock_kpac_transit_b2b": {
            "type": "integer",
            "nullable": true
          },
          "stock_main_east_online": {
            "type": "integer",
            "nullable": true
          },
          "stock_ltl_east_temp": {
            "type": "integer",
            "nullable": true
          },
          "stock_total_online": {
            "type": "integer",
            "nullable": true
          },
          "stock_total_b2b": {
            "type": "integer",
            "nullable": true
          },
          "stock_total_all": {
            "type": "integer",
            "nullable": true
          },
          "committed_west": {
            "type": "integer",
            "nullable": true,
            "description": "Shopify committed (unshipped order) units, West location."
          },
          "committed_east": {
            "type": "integer",
            "nullable": true
          },
          "stock_incoming_import": {
            "type": "integer",
            "nullable": true
          },
          "stock_kpac_incoming": {
            "type": "integer",
            "nullable": true
          },
          "incoming_local_po": {
            "type": "integer",
            "nullable": true,
            "description": "Units on open local purchase orders (BoxHero in-progress/confirmed)."
          },
          "stock_store_la": {
            "type": "integer",
            "nullable": true
          },
          "stock_store_la_mirada": {
            "type": "integer",
            "nullable": true
          },
          "stock_store_seattle": {
            "type": "integer",
            "nullable": true
          },
          "stock_store_total": {
            "type": "integer",
            "nullable": true
          },
          "online_adj_daily": {
            "type": "number",
            "nullable": true
          },
          "online_adj_daily_east": {
            "type": "number",
            "nullable": true
          },
          "retail_adj_daily": {
            "type": "number",
            "nullable": true
          },
          "b2b_adj_daily": {
            "type": "number",
            "nullable": true
          },
          "days_of_supply_online_west": {
            "type": "number",
            "nullable": true,
            "description": "(HQ West online stock − committed West) ÷ online_adj_daily. Null when velocity is 0; negative = oversold."
          },
          "days_of_supply_online_east": {
            "type": "number",
            "nullable": true
          },
          "days_of_supply_retail": {
            "type": "number",
            "nullable": true,
            "description": "Store on-hand total ÷ retail_adj_daily."
          },
          "days_of_supply_b2b": {
            "type": "number",
            "nullable": true
          },
          "refreshed_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the underlying dataset was last refreshed (every 15 minutes)."
          }
        },
        "required": [
          "id",
          "sku",
          "name",
          "name_en",
          "brand",
          "barcode",
          "storage_condition",
          "supply_origin",
          "units_per_case",
          "sales_status_online",
          "md_grade",
          "sales_rank",
          "parent_bundle_sku",
          "bundle_quantity",
          "online_sold_5d",
          "online_sold_7d",
          "online_sold_30d",
          "online_sold_east_5d",
          "online_sold_east_30d",
          "online_active_days_30d",
          "online_bundle_sold_5d",
          "online_bundle_sold_7d",
          "online_bundle_sold_30d",
          "retail_sold_5d",
          "retail_sold_7d",
          "retail_sold_30d",
          "b2b_sold_5d",
          "b2b_sold_7d",
          "b2b_sold_30d",
          "stock_hq_west_online",
          "stock_hq_west_b2b",
          "stock_lc_west_online",
          "stock_lc_west_b2b",
          "stock_kpac_west_online",
          "stock_kpac_west_b2b",
          "stock_kpac_transit_online",
          "stock_kpac_transit_b2b",
          "stock_main_east_online",
          "stock_ltl_east_temp",
          "stock_total_online",
          "stock_total_b2b",
          "stock_total_all",
          "committed_west",
          "committed_east",
          "stock_incoming_import",
          "stock_kpac_incoming",
          "incoming_local_po",
          "stock_store_la",
          "stock_store_la_mirada",
          "stock_store_seattle",
          "stock_store_total",
          "online_adj_daily",
          "online_adj_daily_east",
          "retail_adj_daily",
          "b2b_adj_daily",
          "days_of_supply_online_west",
          "days_of_supply_online_east",
          "days_of_supply_retail",
          "days_of_supply_b2b",
          "refreshed_at"
        ]
      },
      "PurchaseOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "reference_number": {
            "type": "string",
            "nullable": true,
            "description": "External / supplier PO number, when set."
          },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "e.g. draft, ordered, in_transit, received, closed."
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "import | local."
          },
          "supplier_id": {
            "type": "integer",
            "nullable": true
          },
          "supplier_name": {
            "type": "string",
            "nullable": true
          },
          "supplier_code": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "order_date": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Document / order date (ordered_at). Null on drafts never ordered."
          },
          "expected_arrival": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Latest linked inbound-shipment ETA, else the PO draft ETA."
          },
          "first_received_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "received_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "closed_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "line_count": {
            "type": "integer"
          },
          "total_quantity": {
            "type": "integer",
            "description": "Σ of line quantities."
          },
          "total_amount": {
            "type": "number",
            "description": "Goods value = Σ line qty × unit_cost. Excludes freight/customs charges."
          },
          "created_by": {
            "type": "string",
            "nullable": true,
            "description": "public.users id of the creator (uuid). No name/email — PII minimized."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "reference_number",
          "status",
          "type",
          "supplier_id",
          "supplier_name",
          "supplier_code",
          "currency",
          "order_date",
          "expected_arrival",
          "first_received_at",
          "received_at",
          "closed_at",
          "line_count",
          "total_quantity",
          "total_amount",
          "created_by",
          "created_at",
          "updated_at"
        ]
      },
      "PurchaseOrderLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "PO line id (keyset cursor)."
          },
          "po_id": {
            "type": "integer"
          },
          "po_name": {
            "type": "string",
            "nullable": true
          },
          "po_status": {
            "type": "string",
            "nullable": true,
            "description": "Status of the parent PO."
          },
          "order_date": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Parent PO order date (ordered_at)."
          },
          "supplier_id": {
            "type": "integer",
            "nullable": true
          },
          "supplier_name": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "item_id": {
            "type": "integer",
            "nullable": true
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "item_name": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "nullable": true
          },
          "unit_price": {
            "type": "number",
            "nullable": true,
            "description": "Per-unit purchase price (unit_cost)."
          },
          "line_amount": {
            "type": "number",
            "description": "quantity × unit_price."
          },
          "received_quantity": {
            "type": "integer",
            "description": "Best-effort receipts for this PO matched by item_id (approximate if the item spans multiple lines of one PO)."
          },
          "po_updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Parent PO updated_at — the field updated_since filters on."
          }
        },
        "required": [
          "id",
          "po_id",
          "po_name",
          "po_status",
          "order_date",
          "supplier_id",
          "supplier_name",
          "currency",
          "item_id",
          "sku",
          "item_name",
          "quantity",
          "unit_price",
          "line_amount",
          "received_quantity",
          "po_updated_at"
        ]
      },
      "PurchaseOrderWriteResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "type": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "nullable": true
              },
              "currency": {
                "type": "string",
                "nullable": true
              },
              "supplier_id": {
                "type": "integer",
                "nullable": true
              },
              "supplier_name": {
                "type": "string",
                "nullable": true
              },
              "supplier_code": {
                "type": "string",
                "nullable": true
              },
              "reference_number": {
                "type": "string",
                "nullable": true
              },
              "note": {
                "type": "string",
                "nullable": true
              },
              "ordered_at": {
                "type": "string",
                "nullable": true,
                "format": "date-time"
              },
              "draft_inbound_eta": {
                "type": "string",
                "nullable": true,
                "format": "date-time"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "nullable": true,
                "format": "date-time"
              },
              "line_count": {
                "type": "integer"
              },
              "total_quantity": {
                "type": "integer",
                "description": "Σ of line quantities."
              },
              "total_amount": {
                "type": "number",
                "description": "Goods value = Σ line qty × unit_cost (Big.js)."
              },
              "lines": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "item_id": {
                      "type": "integer",
                      "nullable": true
                    },
                    "sku": {
                      "type": "string",
                      "nullable": true
                    },
                    "quantity": {
                      "type": "integer"
                    },
                    "unit_cost": {
                      "type": "number"
                    },
                    "line_amount": {
                      "type": "number",
                      "description": "quantity × unit_cost."
                    }
                  },
                  "required": [
                    "id",
                    "item_id",
                    "sku",
                    "quantity",
                    "unit_cost",
                    "line_amount"
                  ]
                }
              }
            },
            "required": [
              "id",
              "name",
              "type",
              "status",
              "currency",
              "supplier_id",
              "supplier_name",
              "supplier_code",
              "reference_number",
              "note",
              "ordered_at",
              "draft_inbound_eta",
              "created_at",
              "updated_at",
              "line_count",
              "total_quantity",
              "total_amount",
              "lines"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "PurchaseOrderCreateRequest": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "nullable": true,
            "minLength": 1
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "reference_number": {
            "type": "string",
            "nullable": true
          },
          "ordered_at": {
            "type": "string",
            "nullable": true,
            "description": "Document / order date. Stamped automatically when status becomes ordered."
          },
          "draft_inbound_eta": {
            "type": "string",
            "nullable": true,
            "description": "Expected arrival while the PO has no linked inbound shipment yet."
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "exchange_rate": {
            "type": "number",
            "nullable": true,
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "payment_term_code": {
            "type": "string",
            "nullable": true
          },
          "destination_facility_id": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "tags": {
            "type": "string",
            "nullable": true
          },
          "is_consignment": {
            "type": "boolean",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "import",
              "local"
            ]
          },
          "supplier_id": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Vendor (supplier) id. REQUIRED unless `supplier_code` is sent. If both are sent they must resolve to the same active vendor (else 409)."
          },
          "supplier_code": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "description": "Vendor code — the alternative to `supplier_id`. Case-insensitive (upper-cased before lookup); unique across active vendors."
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "draft",
              "ordered"
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "item_id": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true,
                  "description": "WMS item id. REQUIRED unless `sku` is sent. If both are sent they must designate the same item (else 409)."
                },
                "sku": {
                  "type": "string",
                  "nullable": true,
                  "minLength": 1,
                  "description": "Item SKU — the alternative to `item_id`. Matched case-insensitively against active items; a SKU matching more than one active item returns 409 (send `item_id` instead)."
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "unit_cost": {
                  "type": "number",
                  "minimum": 0
                },
                "vendor_sku": {
                  "type": "string",
                  "nullable": true,
                  "description": "The supplier's own item code. Stored on the line and upserted onto the item↔vendor link — NOT a lookup key: it does not resolve the item."
                },
                "barcode": {
                  "type": "string",
                  "nullable": true,
                  "description": "Barcode recorded on the line (e.g. a catch-all MISC line). NOT a lookup key: it does not resolve the item."
                },
                "units_per_case": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "cases_per_pallet": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "shelf_life_days": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "shelf_life_basis": {
                  "type": "string",
                  "nullable": true,
                  "enum": [
                    "manufacture_date",
                    "milling_date",
                    "packaging_date"
                  ]
                },
                "tax": {
                  "type": "number",
                  "nullable": true,
                  "minimum": 0
                },
                "case_length_mm": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "case_width_mm": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "case_height_mm": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                }
              },
              "required": [
                "quantity",
                "unit_cost"
              ]
            },
            "minItems": 1,
            "description": "At least one line. Each line needs `item_id` or `sku`, plus `quantity` and `unit_cost`."
          }
        },
        "required": [
          "lines"
        ],
        "example": {
          "supplier_code": "WOOLTARI-KR",
          "type": "import",
          "status": "draft",
          "currency": "USD",
          "reference_number": "PO-2026-0142",
          "lines": [
            {
              "sku": "RICE-5KG",
              "quantity": 120,
              "unit_cost": 12.5
            },
            {
              "item_id": 1234,
              "quantity": 60,
              "unit_cost": 8,
              "vendor_sku": "V-8842"
            }
          ]
        }
      },
      "PurchaseOrderPatchRequest": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "nullable": true,
            "minLength": 1
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "reference_number": {
            "type": "string",
            "nullable": true
          },
          "ordered_at": {
            "type": "string",
            "nullable": true,
            "description": "Document / order date. Stamped automatically when status becomes ordered."
          },
          "draft_inbound_eta": {
            "type": "string",
            "nullable": true,
            "description": "Expected arrival while the PO has no linked inbound shipment yet."
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "exchange_rate": {
            "type": "number",
            "nullable": true,
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "payment_term_code": {
            "type": "string",
            "nullable": true
          },
          "destination_facility_id": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "tags": {
            "type": "string",
            "nullable": true
          },
          "is_consignment": {
            "type": "boolean",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "draft",
              "ordered",
              "cancelled"
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "item_id": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true,
                  "description": "WMS item id. REQUIRED unless `sku` is sent. If both are sent they must designate the same item (else 409)."
                },
                "sku": {
                  "type": "string",
                  "nullable": true,
                  "minLength": 1,
                  "description": "Item SKU — the alternative to `item_id`. Matched case-insensitively against active items; a SKU matching more than one active item returns 409 (send `item_id` instead)."
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "unit_cost": {
                  "type": "number",
                  "minimum": 0
                },
                "vendor_sku": {
                  "type": "string",
                  "nullable": true,
                  "description": "The supplier's own item code. Stored on the line and upserted onto the item↔vendor link — NOT a lookup key: it does not resolve the item."
                },
                "barcode": {
                  "type": "string",
                  "nullable": true,
                  "description": "Barcode recorded on the line (e.g. a catch-all MISC line). NOT a lookup key: it does not resolve the item."
                },
                "units_per_case": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "cases_per_pallet": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "shelf_life_days": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "shelf_life_basis": {
                  "type": "string",
                  "nullable": true,
                  "enum": [
                    "manufacture_date",
                    "milling_date",
                    "packaging_date"
                  ]
                },
                "tax": {
                  "type": "number",
                  "nullable": true,
                  "minimum": 0
                },
                "case_length_mm": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "case_width_mm": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "case_height_mm": {
                  "type": "integer",
                  "nullable": true,
                  "minimum": 0,
                  "exclusiveMinimum": true
                }
              },
              "required": [
                "quantity",
                "unit_cost"
              ]
            },
            "minItems": 1,
            "description": "Declarative FULL REPLACE of the line set (matched by item — update in place, insert new, delete missing). Omit to leave lines untouched; when sent it must be non-empty."
          }
        }
      },
      "CargoLoad": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true,
            "description": "draft | approved | in_transit | arrived | received."
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "ocean | air."
          },
          "reference_number": {
            "type": "string",
            "nullable": true
          },
          "container_number": {
            "type": "string",
            "nullable": true,
            "description": "Container number (ocean) or master AWB (air) — primary_identifier."
          },
          "secondary_identifier": {
            "type": "string",
            "nullable": true
          },
          "unit_type": {
            "type": "string",
            "nullable": true,
            "description": "Container / equipment type, e.g. 40RF, 20GP."
          },
          "booking_number": {
            "type": "string",
            "nullable": true,
            "description": "Carrier booking reference."
          },
          "carrier": {
            "type": "string",
            "nullable": true
          },
          "shipping_line": {
            "type": "string",
            "nullable": true
          },
          "forwarder_name": {
            "type": "string",
            "nullable": true
          },
          "service_number": {
            "type": "string",
            "nullable": true
          },
          "temperature_category": {
            "type": "string",
            "nullable": true,
            "description": "frozen | chilled | ambient."
          },
          "bill_of_lading_number": {
            "type": "string",
            "nullable": true,
            "description": "Ocean BL / air waybill number (WOO-541)."
          },
          "destination_facility_id": {
            "type": "integer",
            "nullable": true
          },
          "destination_facility_name": {
            "type": "string",
            "nullable": true
          },
          "destination_facility_code": {
            "type": "string",
            "nullable": true
          },
          "booking_date": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Document / booking date (ordered_at)."
          },
          "etd": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Estimated departure (departure_estimated_time) — the schedule anchor + etd_from/etd_to filter target."
          },
          "departed_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Actual departure (departure_actual_time)."
          },
          "eta": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Estimated arrival (arrival_estimated_time)."
          },
          "arrived_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Actual arrival (arrival_actual_time)."
          },
          "pickup_estimated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "pickup_actual_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "approved_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "in_transit_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "cancelled_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "line_count": {
            "type": "integer"
          },
          "total_quantity": {
            "type": "integer",
            "description": "Σ of line quantities."
          },
          "goods_total": {
            "type": "number",
            "description": "Σ line qty × PO unit_cost, in the PO native currency (may mix currencies across POs)."
          },
          "freight_total": {
            "type": "number",
            "description": "Σ freight-category charge base_currency_amount (USD)."
          },
          "duty_total": {
            "type": "number",
            "description": "Σ customs-category charge base_currency_amount (USD)."
          },
          "created_by": {
            "type": "string",
            "nullable": true,
            "description": "public.users id of the creator (uuid). No name/email — PII minimized."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "status",
          "type",
          "reference_number",
          "container_number",
          "secondary_identifier",
          "unit_type",
          "booking_number",
          "carrier",
          "shipping_line",
          "forwarder_name",
          "service_number",
          "temperature_category",
          "bill_of_lading_number",
          "destination_facility_id",
          "destination_facility_name",
          "destination_facility_code",
          "booking_date",
          "etd",
          "departed_at",
          "eta",
          "arrived_at",
          "pickup_estimated_at",
          "pickup_actual_at",
          "approved_at",
          "in_transit_at",
          "cancelled_at",
          "line_count",
          "total_quantity",
          "goods_total",
          "freight_total",
          "duty_total",
          "created_by",
          "created_at",
          "updated_at"
        ]
      },
      "CargoLoadLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Cargo load line id (keyset cursor)."
          },
          "cargo_load_id": {
            "type": "integer"
          },
          "cargo_load_name": {
            "type": "string",
            "nullable": true
          },
          "cargo_load_status": {
            "type": "string",
            "nullable": true,
            "description": "Status of the parent cargo load."
          },
          "cargo_load_type": {
            "type": "string",
            "nullable": true,
            "description": "ocean | air."
          },
          "po_line_id": {
            "type": "integer",
            "nullable": true,
            "description": "Linked PO line id (purchase_order_line_item_id), when PO-backed."
          },
          "po_id": {
            "type": "integer",
            "nullable": true
          },
          "po_name": {
            "type": "string",
            "nullable": true
          },
          "item_id": {
            "type": "integer",
            "nullable": true
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "item_name": {
            "type": "string",
            "nullable": true
          },
          "item_name_en": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "nullable": true
          },
          "units_per_case": {
            "type": "integer",
            "nullable": true
          },
          "box_quantity": {
            "type": "integer",
            "nullable": true
          },
          "pallets": {
            "type": "number",
            "nullable": true
          },
          "owner_type": {
            "type": "string",
            "nullable": true,
            "description": "owned | consignment | client."
          },
          "external_lot_code": {
            "type": "string",
            "nullable": true
          },
          "expiration_date": {
            "type": "string",
            "nullable": true,
            "description": "YYYY-MM-DD, when set."
          },
          "production_date": {
            "type": "string",
            "nullable": true,
            "description": "YYYY-MM-DD, when set."
          },
          "cargo_load_updated_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "Parent cargo load updated_at — the field updated_since filters on."
          },
          "preliminary_expiry_date": {
            "type": "string",
            "nullable": true,
            "description": "YYYY-MM-DD provisional expiry, when set."
          },
          "apply_customs_duty": {
            "type": "boolean",
            "nullable": true
          },
          "customs_duty_rate": {
            "type": "number",
            "nullable": true
          },
          "customs_unit_cost": {
            "type": "number",
            "nullable": true
          },
          "is_foc": {
            "type": "boolean",
            "nullable": true,
            "description": "Free-of-charge line."
          },
          "case_length_mm": {
            "type": "integer",
            "nullable": true
          },
          "case_width_mm": {
            "type": "integer",
            "nullable": true
          },
          "case_height_mm": {
            "type": "integer",
            "nullable": true
          },
          "case_volume_m3": {
            "type": "number",
            "nullable": true
          },
          "load_plan": {
            "type": "string",
            "nullable": true
          },
          "owner_vendor_id": {
            "type": "integer",
            "nullable": true
          },
          "fda_hold": {
            "type": "boolean",
            "nullable": true
          },
          "lot_slots": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "quantity": {
                  "type": "integer"
                },
                "expiration_date": {
                  "type": "string",
                  "nullable": true,
                  "description": "YYYY-MM-DD."
                },
                "external_lot_code": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "id",
                "quantity",
                "expiration_date",
                "external_lot_code"
              ]
            },
            "description": "Split-expiry slots for this line (empty array when the line is not split). A split line carries its expiries here and its own `expiration_date` is null. Echo these back as `lots[]` when writing the line — a `lines` PATCH is a full replace and drops slots it is not given."
          }
        },
        "required": [
          "id",
          "cargo_load_id",
          "cargo_load_name",
          "cargo_load_status",
          "cargo_load_type",
          "po_line_id",
          "po_id",
          "po_name",
          "item_id",
          "sku",
          "item_name",
          "item_name_en",
          "quantity",
          "units_per_case",
          "box_quantity",
          "pallets",
          "owner_type",
          "external_lot_code",
          "expiration_date",
          "production_date",
          "cargo_load_updated_at",
          "preliminary_expiry_date",
          "apply_customs_duty",
          "customs_duty_rate",
          "customs_unit_cost",
          "is_foc",
          "case_length_mm",
          "case_width_mm",
          "case_height_mm",
          "case_volume_m3",
          "load_plan",
          "owner_vendor_id",
          "fda_hold",
          "lot_slots"
        ]
      },
      "CargoLoadCharge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Charge id (keyset cursor)."
          },
          "cargo_load_id": {
            "type": "integer"
          },
          "cargo_load_name": {
            "type": "string",
            "nullable": true
          },
          "cargo_load_line_item_id": {
            "type": "integer",
            "nullable": true,
            "description": "Set for line-level charges (e.g. customs duty on a specific line)."
          },
          "charge_code": {
            "type": "string",
            "nullable": true
          },
          "charge_name": {
            "type": "string",
            "nullable": true
[...]
